@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --green-teal: #dadada;
  --green-teal-2: #0ab463;
  --pinkish-grey: #c4c4c4;
  --emerald: #089954;
  --emerald-2: #0094ff;
  --warm-grey-75: #848484bf;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-green-teal: var(--green-teal);
  --color-green-teal-2: var(--green-teal-2);
  --color-pinkish-grey: var(--pinkish-grey);
  --color-emerald: var(--emerald);
  --color-emerald-2: var(--emerald-2);
  --color-warm-grey-75: var(--warm-grey-75);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
